<div>
    <div class="row">
        <div class="form-group col-lg-8 col-md-8">
            <table class="resultados table table-striped">
                <tr>
                    <th>Codigo</th>
                    <th>Imagen</th>
                    <th>Descripcion</th>
                    <th>Disponibles</th>
                    <th></th>
                </tr>
                <tr ng-repeat="row in lista">
                    <td>{{row.id}}</td>
                    <td>
                        <img src="{{row.imagen}}" width="100px" height="100px" />
                    </td>
                    <td>{{row.descripcion}}</td>
                    <td>{{row.stock}}</td>
                    <td>
                        <button type="button" class="btn btn-info" title="Agregar al Carrito"
                                ng-click="agregarProducto(row)">
                            <i class="glyphicon glyphicon-shopping-cart"></i> 
                        </button>
                    </td>
                </tr>
            </table>


        </div>
        <div class="form-group col-lg-4 col-md-4">
            <div class="row"> 
                <table class="resultados table table-striped" ng-show="carrito.length">
                    <tr>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="row in carrito">
                        <td>{{row.descripcion}}</td>
                        <td>
                            <input class="form-control" type="text"  ng-model="row.cantidad"/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" title="Borrar"
                                    ng-click="borrar(row)">
                                <i class="glyphicon glyphicon-trash"></i> 
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12">
                    <button type="button" class="btn btn-success" title="Comprar"
                            ng-click="comprar()">
                        <i class="glyphicon glyphicon-floppy-save"></i> Aceptar 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

